name: Google Cloud Run

on:
  push: 
    branches: [main]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Cloud Run Deployment
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup GCP Service Account
        uses: google-github-actions/setup-gcloud@master  
      # uses: GoogleCloudPlatform/github-actions/setup-gcloud@master >> old code is no longer valid
        with:
          version: 'latest'
          service_account_email: ${{ secrets.GCP_SA_EMAIL }}
          service_account_key: ${{ secrets.GCP_SA_KEY }}
          export_default_credentials: true

      - name: Configure Docker
        run: |
          gcloud auth configure-docker
     # Build the Docker image
    - name: Build & Publish
      run: |
        gcloud config set project ${{ secrets.GCP_PROJECT_ID }}
        gcloud builds submit --tag gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_IMAGE }}
        gcloud config set run/region asia-southeast1
    # Deploy the Docker image to the GKE cluster
    - name: Deploy
      run: |
        gcloud run deploy ${{ secrets.GCP_IMAGE }} --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_IMAGE }} \
        --platform managed \
        --allow-unauthenticated \
        --memory 256M 

      # - name: Build
      #  run: |
      #    docker build --t gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_IMAGE }}

      #- name: Push
      #  run: |
      #    docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_IMAGE }}

      #- name: Pull
      #  run: |
      #    docker pull gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_IMAGE }}
      
      #- name: Deploy
      #  run: |
      #    gcloud run deploy ${{ secrets.GCP_IMAGE }} \
      #    --region asia-southeast1 \
      #    --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_IMAGE }} \
      #    --platform managed \
      #    --allow-unauthenticated \
      #    --project ${{ secrets.GCP_PROJECT_ID }}
      #    --memory 256M 